/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 29, 2021, 8:47:58 AM
    Author     : kld09
*/
.header{
    text-align: left;
    padding:0%;
}

.column {
    float: left;
    padding: 10px;
}

.column.side{
    width:25%;
}

.column.middle{
    width:50%;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.labelrow{
    font-size: 1em;
    padding-left:15%;
    padding-right:15%;
}

.filterrow{
}

.filterrow.element{
    padding-left:5%;
    padding-right:5%;
}

.submitrow{
    
}
